/* Styles for main page */
#banner {
background: #6d7fa7;
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 2px solid;
font: small-caps 40px/40px "Times New Roman", serif;
color: white;
text-align: center;
}
#banner img {
float: left;
}
#columns {
background: #102b66;
}
#main {
margin-left: 17em;
padding-top: 4ex;
padding-left: 2em;
background: white;
}
#side {
float: left;
padding-top: 1em;
padding-left: 1em;
padding-bottom: 1em;
width: 16em;
background: #102b66;
}
#side a {
color: white;
font-size: small;
}
#store .entry form, #store .entry form div {
display: inline;
}
/* Styles for the cart in the main page */
#store .cart_title {
font: 120% bold;
}
#store .item_price, #store .total_line {
text-align: right;
}
#store .total_line .total_cell {
font-weight: bold;
border-top: 1px solid #595;
}

/* Styles for the cart in the sidebar */
#cart, #cart table {
font-size: smaller;
color:
white;
}
#cart table {
border-top:
1px dotted #595;
border-bottom: 1px dotted #595;
margin-bottom: 10px;
}

.order_form fieldset {
background: #efe;
}
#order .form legend {
color: #dfd;
background: #141;
font-family: sans-serif;
padding: 0.2em 1em;
}
.order_form label {
width: 5em;
float: left;
text-align: right;
padding-top: 0.2em;
margin-right: 0.1em;
display: block;
}
#order .form select, .order_form textarea, .order_form input {
margin-left: 0.5em;
}
.order_form .submit {
margin-left: 4em;
}
.order_form div {
margin: 0.5em 0;
}
